<div style="position: absolute; width: 50%; left: 25%; text-align: center;">
    <h1>From which Chipotle Would You Like to Order?</h1>
    <form action="/api/" method="POST">
        <label for="location">Type in your address here:</label>
        <input type="text" name="location">
        <input type="submit">
    </form>
</div>