<!DOCTYPE html>
<html>
    <head>
        <title>Our Values</title>
        <link type="text/css" rel="stylesheet" href="our_values.css">
    </head>
    <body>

        <header class="nav-bar-container">  
            <nav>
                <a href="/" id="home-logo"><%= image_tag("homelogo.png", size: '75')%></a>
                <div class="center-link">
                    <a href="order" method="get" target="_blank"><li>Order</li></a>
                    <a href="our_values" target="_blank"><li>Our Values</li></a>
                </div>
                <button type="button" class="find-location"><%= image_tag("pepper.png", size: '15', class: "pepper-in-button")%>| FIND A CHIPOTLE</button>
            </nav>
        </header>

        <div class="values">
            <%= image_tag("our_values.png", width: "100%")%>
        </div>

    </body>
</html>