body {
    margin: 0;
}

.slogan-container {
    background-color: rgb(80, 18, 18);
    padding: 20px;
    width: 100%;
    position: relative;
    top: 80px;
}

.slogan-container h2 {
    color: white;
    text-align: center;
    font-size: 20px;
    position: flex;
    font-family: "Trade Gothic LT","Helvetica Neue",Arial,sans-serif;
    font-weight: 900;
}
